.search-results {
  .search-result-row {
    border-bottom: 1px solid $border-color;
    padding-bottom: $gl-padding;
    margin-bottom: $gl-padding;

    &:last-child {
      border-bottom: 0;
    }
  }

  .blob-result {
    margin: 5px 0;
  }
}

.search form:hover,
.file-finder-input:hover,
.issuable-search-form:hover,
.search-text-input:hover,
.form-control:hover {
  border-color: lighten($dropdown-input-focus-border, 20%);
  box-shadow: 0 0 4px lighten($search-input-focus-shadow-color, 20%);
}

input[type="checkbox"]:hover {
  box-shadow: 0 0 2px 2px lighten($search-input-focus-shadow-color, 20%), 0 0 0 1px lighten($search-input-focus-shadow-color, 20%);
}

.search {
  margin: 4px 8px 0;

  form {
    @extend .form-control;
    margin: 0;
    padding: 4px;
    width: $search-input-width;
    line-height: 24px;
    height: 32px;
    border: 0;
    border-radius: $border-radius-default;
    transition: border-color ease-in-out $default-transition-duration, background-color ease-in-out $default-transition-duration;

    &:hover {
      box-shadow: none;
    }
  }

  .location-badge {
    height: 32px;
    font-size: 12px;
    margin: -4px 4px -4px -4px;
    line-height: 25px;
    padding: 4px 8px;
    border-radius: $border-radius-default 0 0 $border-radius-default;
    transition: border-color ease-in-out $default-transition-duration;
  }

  .search-input {
    border: 0;
    font-size: 14px;
    padding: 0 20px 0 0;
    margin-left: 5px;
    line-height: 25px;
    width: 98%;
    color: $white-light;
    background: none;
    transition: color ease-in-out $default-transition-duration;
  }

  .search-input::placeholder {
    transition: color ease-in-out $default-transition-duration;
  }

  .search-input-container {
    display: flex;
    position: relative;
  }

  .search-input-wrap {
    // Fallback if flexbox is not supported
    display: inline-block;
    width: 100%;

    .search-icon,
    .clear-icon {
      position: absolute;
      right: 5px;
      top: 4px;
    }

    .search-icon {
      transition: color $default-transition-duration;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .clear-icon {
      display: none;
    }

    // Rewrite position. Dropdown menu should be relative to .search-input-container
    .dropdown {
      position: static;
    }

    .dropdown-header {
      text-transform: uppercase;
      font-size: 11px;
    }

    // Custom dropdown positioning
    .dropdown-menu {
      transition-property: opacity, transform;
      transition-duration: 250ms, 250ms;
      transition-delay: 0ms, 25ms;
      transition-timing-function: $dropdown-animation-timing;
      transform: translateY(0);
      opacity: 0;
      display: block;
      left: -5px;
      padding: 0;

      ul {
        padding: 10px 0;
      }
    }

    .dropdown-content {
      max-height: 350px;
    }
  }

  &.search-active {
    form {
      @extend .form-control:focus;
      border-color: $dropdown-input-focus-border;
      box-shadow: none;

      .search-input-wrap {
        .search-icon,
        .clear-icon {
          color: $gl-text-color-tertiary;
          transition: color ease-in-out $default-transition-duration;
        }
      }

      .search-input {
        color: $gl-text-color;
        transition: color ease-in-out $default-transition-duration;
      }

      .search-input::placeholder {
        color: $gl-text-color-tertiary;
      }
    }

    .location-badge {
      transition: all $default-transition-duration;
      background-color: $nav-badge-bg;
      border-color: $border-color;
    }

    .dropdown-menu {
      transition-duration: 100ms, 75ms;
      transition-delay: 75ms, 100ms;
      transform: translateY(7px);
      opacity: 1;
    }
  }

  &.has-value {
    .search-icon {
      display: none;
    }

    .clear-icon {
      cursor: pointer;
      display: block;
    }
  }

  &.has-location-badge {
    .search-input-wrap {
      width: 68%;
    }
  }
}

.search-holder {
  @include new-style-dropdown;

  @media (min-width: $screen-sm-min) {
    display: -webkit-flex;
    display: flex;
  }

  .search-field-holder,
  .project-filter-form {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    margin-right: 0;

    @media (min-width: $screen-sm-min) {
      margin-right: 5px;
    }
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: $gray-darkest;
    pointer-events: none;
  }

  .search-text-input,
  .project-filter-form-field {
    padding-left: $gl-padding + 15px;
    padding-right: $gl-padding + 15px;
  }

  .btn-search,
  .btn-new {
    width: 100%;
    margin-top: 5px;

    @media (min-width: $screen-sm-min) {
      width: auto;
      margin-top: 0;
      margin-left: 5px;
    }
  }

  .dropdown {
    @media (min-width: $screen-sm-min) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .dropdown-menu-toggle {
    width: 100%;
    margin-top: 5px;

    @media (min-width: $screen-sm-min) {
      width: 180px;
      margin-top: 0;
    }
  }
}

.search-clear {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  color: $gray-darkest;
  line-height: 0;
  background: none;
  border: 0;

  &:hover,
  &:focus {
    color: $gl-link-color;
  }
}
