<script>
  import { mapGetters } from 'vuex';
  import skeletonLoadingContainer from '../../vue_shared/components/skeleton_loading_container.vue';

  export default {
    components: {
      skeletonLoadingContainer,
    },
    computed: {
      ...mapGetters([
        'isCollapsed',
      ]),
    },
  };
</script>

<template>
  <tr
    class="loading-file"
    aria-label="Loading files"
  >
    <td>
      <skeleton-loading-container
        :small="true"
      />
    </td>
    <template v-if="!isCollapsed">
      <td
        class="hidden-sm hidden-xs">
        <skeleton-loading-container
          :small="true"
        />
      </td>

      <td
        class="hidden-xs">
        <skeleton-loading-container
          class="animation-container-right"
          :small="true"
        />
      </td>
    </template>
  </tr>
</template>
